<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextArtibutor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50799B921CA4F52500E311DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50799BAB1CA4F52500E311DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50799BB61CA4F52500E311DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
